.todoList {
	padding: 0;

	.isDone {
		text-decoration: line-through;
	}

	li {
		font-size: 2rem;
		display: flex;

		span {
			width: 60%;
		}

		div {
			button {
				background: none;
				font-size: 2rem;
				border: none;
				cursor: pointer;
			}
		}
	}
}