.form {
	input {
		font-size: 1.5rem;
		padding: 5px 10px;
		margin-right: 10px;
	}

	button {
		font-size: 1.5rem;
		padding: 5px 10px;
		border: 1px solid black;
		background: #ebebeb;
		cursor: pointer;
	}
}